@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*Noto Sans*/
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: Poppins, Inter, "Work Sans", "Noto Sans";
}


.app {
  display: flex;
  position: relative;
  height: auto;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

